*{
    box-sizing: border-box;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

/* hamburger */
.btn-container{
  position: fixed;
  top: 42px;
  left: 97px;
  background-color: white;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-menu {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

.hamburger-menu .bar {
  height: 5px;
  background: black;
  border-radius: 5px;
  margin: 3px 0px;
  transform-origin: left;
  transition: all 0.5s;
}

.top {
  transform: rotate(51deg);
  margin-left: 11px;
  width: 3rem;
}

.middle {
  opacity: 0;
}

.bottom {
  transform: rotate(-51deg);
  margin-left: 11px;
  width: 3rem;
}

/* tool-panel */
.tool-img{
    height: 3rem;
    width: 3rem;
}

.tool-panel{
  position: fixed;
  top: 28px;
  right: 207px;
  background-color: white;
  display: none;
  gap: 0.8rem;
  justify-content: space-evenly;
  align-items: center;
  height: 12vh;
  width: 68vw;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  border-radius: 8px;
}

.tool{
  height: 73%;
  width: 7%;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.65rem;
}

.active{
  background-color: rgba(73, 72, 72, 0.454);
}

.pencil-options{
  position: absolute;
  top: 7rem;
  left: -1rem;
  height: 7rem;
  width: 10rem;
  padding: 0.4rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.pencil-slider{
  height: 38%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.pencil-color{
  height: 55%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.blue{
  height: 50%;
  width: 21%;
  background-color: blue;
  border-radius: 50%;
}

.red{
  height: 50%;
  width: 21%;
  background-color: red;
  border-radius: 50%;
}

.black{
  height: 50%;
  width: 21%;
  background-color: black;
  border-radius: 50%;
}

.eraser-options{
  position: absolute;
  top: 7rem;
  left: 7rem;
  height: 3.3rem;
  width: 10rem;
  padding: 0.4rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.eraser-slider{
  height: 95%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

/* sheet container */
.sheet-container{
  position: fixed;
  bottom: 25px;
  right: calc( (100vw - 76vw)/2 + 7rem );
  display: flex;
  height: 4rem;
  width: 76vw;
  border-radius: 8px;
  justify-content: space-between;
}

.add-sheet_btn-container{
  height: 100%;
  width: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.fas{
  font-size: 2rem;
}

.sheet-list{
  width: 86%;
  display: flex;
  overflow: auto;
  border-radius: 8px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.sheet-list::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.sheet-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.sheet{
  min-width: 5rem;
  height: 100%;
  font-size: 1.2rem;
  border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
  padding-top: 1.3rem;
  border-radius: 0;
}

.active{
  color: white;
  background-color: rgb(170, 169, 169);
}


.sticky-pad{
  position: absolute;
  z-index: 1000;
  height: 14rem;
  width: 15.5rem;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 0 15px 0 15px;  /* t-left, t-right, b-right, b-left*/
}

.sticky-pad .nav{
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
  padding-right: 0.5rem;
  border-top-right-radius: 15px;
  background-color: rgba(121, 120, 120, 0.755);
}

.min{
  height: 73%;
  width: 10%;
  background: blue;
  border-radius: 50%;
}

.close{
  height: 73%;
  width: 10%;
  background: red;
  border-radius: 50%;
}

.writing-pad{
  height: 85%;
  width: 100%;
  border-bottom-left-radius: 15px;
  border: 1px solid rgba(104, 103, 103, 0.885);
}

.desc-box{
  height: 100%;
  width: 100%;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  text-align: center;
}

.sticky-pad textarea:focus,
.sticky-pad textarea:active {
  outline: none;
}

.chat-button{
  height: 3.5rem;
  width: 3.5rem;
  position: fixed;
  bottom: 4%;
  right: 163px;
  border: 1px solid;
  border-radius: 6px;
  z-index: 4;
  cursor: pointer;
}

.chat-button:hover{
  animation: gScaleUp 1s;
  animation-fill-mode: forwards;
}

.gallery-button{
  height: 3.5rem;
  width: 3.5rem;
  position: fixed;
  color: black;
  padding-top: 0.55rem;
  text-align: center;
  bottom: 4%;
  right: 61px;
  border: 1px solid;
  border-radius: 6px;
  z-index:4;
  cursor: pointer;
}

.gallery-button:hover{
  animation: gScaleUp 1s;
  animation-fill-mode: forwards;
}

@keyframes gScaleUp {
  0%{
      transform: scale(1);
  }

  100%{
      transform: scale(1.1);
  }
}

#fileInput{
  display: none;
}

.upload-img{
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 15px;
}

#video-grid{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 35px;
  right: 11px;
  width: 12vw;
  min-height: 21vh;
  border: 1px solid;
}

video{
  width: 100%;
  height: 8rem;
  object-fit: contain;
}

.video-tool__container{
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 1rem;
  height: 2.3rem;
  width: 100%;
}

.video-tool__container .fas{
  font-size: x-large;
  cursor: pointer;
}

.round-btn{
  height: 2.2rem;
  width: 2.2rem;
  margin: auto;
  border-radius: 50%;
  background-color: white;
}

.record{
  background-color: red;
}

.capture{
  background-color: white;
  height: 2.5rem;
  width: 2.5rem;
}

.outer-circle{
  border-radius: 50%;
  border: 5px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  height: 64%;
  width: 6%;
  text-align: center;
}

.outer_circle-capture{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  background-color: black;
  height: 64%;
  width: 6%;
  text-align: center;
}

.record-animation{
  animation: scaleUp 1s ;
  animation-iteration-count: infinite;
}

@keyframes scaleUp {
  0%{
      transform: scale(1);
  }

  50%{
      transform: scale(1.1);
  }

  100%{
      transform: scale(1);
  }
}

.main__right{
  height: 68vh;
  width: 20vw;
  position: absolute;
  left: 58rem;
  top: 10rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  display: none;
}

.main__header{
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  height: 2rem;
  width: 100%;
  background-color: gray;
  padding-top: 5px;
}

.main__header > h3{
  margin: 0px;
  font-family: sans-serif;
  color: white;
}

.main__chat_window{
  height: calc(68vh - 2rem - 3.05rem);
}

.messages{
  margin: 0px;
  padding: 0px;
}

li{
  list-style: none;
}

.main__message_container{
  height: 3rem;
}

#chat_message{
  font-size: 100%;
  height: 100%;
  width: 100%;
  border: 5px solid #000;
  padding-left: 10px;
  outline: none;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.log{
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

.username{
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

.messageBody{
  color: gray;
}

.text-message{
  margin: 0.5rem;
}